services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      APP_ENV: local
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: demo
      DB_USER: demo_user
      DB_PASSWORD: demo1234
    depends_on:
      - db

  db:
    image: mariadb:11
    environment:
      MYSQL_DATABASE: demo
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: demo1234
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql:ro

volumes:
  db_data:
